
/* general*/
body {
    background-color: lavender;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* navigation style*/

nav {
    background-color: #100669;
    border-color: red;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    /*
    max-width: 1200px;
    margin: 0 auto;
    maakt nav header wat smaller, oogt mooi op witte achtergrond
    */

}

nav .container{
    text-align:center;
}

.nav-logo {
    width: 180px;
    margin: 0 auto;
}

.nav-logo img {
    width: 100%;
}

.nav-items{
    display: inline-block;    
}

.nav-items ul {
    padding: 0;
}

.nav-items ul li {
    display: inline-block;
    margin: 0 5px 0 5px;

}

.nav-items ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.nav-items ul li a:hover {
    color: #796fd6
}


@media screen and (min-width: 1000px){ /* eigen aanpassing min-width gezien hoeveelheid links bovenaan*/
    .nav-logo{
        float: left;
        /*padding-top: 10px; /* lijkt bij mijn logo het lelijker maken*/
    }

    .nav-items {
        float: right;
        padding-top: 10px; /* eigen aanpassing, momenteel bij dit logo mooier*/
    }
}

/*header style*/

header{
    background: url("./images/header_bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px; /* margin en padding top en left zelf toegevoegd, oogt rustiger*/
    padding-top: 80px;
    margin: 10px auto;
    height: 70vh; /* volgens skillshare voorbeeld 80*/
    position: relative;
    text-align: center;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header .header-text{
    background-color: #0a0441;
    opacity: 0.8;
    color: white;
    margin: auto;
    max-width: 500px;
    max-height: 220px;
    padding: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

header .header-arrow{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -25px;
}

@media screen and (min-width: 686px) {
    header {
        margin-left: 20px;
    }
}

/* main - portfolio*/

.portfolio {
    padding: 40px 0;
}

.portfolio .container {
    background-color: #f8f6f6;
    font-family: sans-serif;
    text-align: center;
}

.portfolio .container h2 {
    padding-top: 30px;
    color: #100669;
}

.portfolio .item-container {
    display: inline-block;
    margin: 40px 0;
    width: 100%;
}
.portfolio .item-container .portfolio-item {
    background: url("./images/portfolio-item.jpg");
    background-size: cover;
    background-position: center;
    height: 275px;
    width: 275px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.portfolio .item-container .portfolio-item.IT{
    background: url("./images/tic-tac-toe-screenshot.PNG");
    /* heb bij de andere size en position toegevoegd, omdat anders dit niet mee ging */
}

.portfolio .item-container .portfolio-item.medisch{
    background: url("./images/arts.jpg");
    background-size: cover;
    background-position: center;
}

.portfolio .item-container .portfolio-item.crea{
    background: url("./images/portfolio-item.jpg");
    background-size: cover;
    background-position: center;
}

.portfolio .item-container .portfolio-item.photo{
    background: url("./images/photo-vierkant.png");
    background-size: cover;
    background-position: center;
}

.portfolio .item-container .portfolio-description {
    background-color: black;
    opacity: 0.8;
    padding: 10px 20px;
    position: absolute;
    bottom: -110px;
    width: 100%;
    transition: transform 0.4s ease;
}

.portfolio .item-container .portfolio-description a {
    color: white;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-description{
    transform: translateY(-110px);
    transition: transform 0.4s ease;
    display: block;
}

@media screen and (min-width: 1000px) {
    .portfolio .item-container {
        width: 49%;
    }
}

@media screen and (min-width: 550px) {
    .portfolio .item-container .portfolio-item {
        height:450px;
        width: 450px;
    }
}

/* about */

.about {
    padding: 20px 0 20px 0; /* own add, to balance*/
    background: #f8f6f6;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
}

.profile-image-container {
    display: inline-block;
    width: 38%;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    max-width: 250px;
    width: 100%;
}

.profile-text-container {
    text-align: center;
}

.profile-text-container p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 1000px){
    .about {
        text-align: left;
    }

    .profile-image-container {
        text-align: right;
    }

    .profile-text-container {
        width: 60%;
        float: right;
        padding-left: 10px;
        display: inline-block;
        text-align: left;
    }

    .profile-text-container p {
        text-align: left;
        max-width: 500px;
        margin: 0;
    }
}

/* footer */

footer {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 80px 0;
    text-align: center;
}

.contact-text {
    max-width: 700px;
    margin: 0 auto;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a{
    margin: 10px; /* found this one out myself*/
    text-decoration: none;
}